<div id="footer">
<table>
    <tr>
        <td width=200>
            <%= link_to image_tag('logo.png'), :action => 'index' %>
        </td>
        <td width=200>
            Can you <a href="javascript:var%20q,e=encodeURIComponent;if%20(window.getSelection)%20q=window.getSelection();%20else%20if%20(document.selection)%20q=document.selection.createRange().text;if%20(q!=''){u=location.href;t=document.title;}else{q=prompt(%22Clip%20it:%22,%22%22);t='Manual%20Clip';u='none'};if%20(q)%20location.href='http://localhost:3000/clips/create?u='+e(u)+'&s='+e(q)+'&t='+e(t);">clip it</a>?
        </td>
        <td width=200>
            &nbsp;
        </td>
        <td width=200>
	<ul>
	    <li>by <a href="http://banterability.com/">Jeffrey Long</a></li>
	    <li>updates: <a href="http://twitter.com/clipd">Twitter</a></li>
	    <li>source: <a href="http://github.com/banterability/clip-d/">Github</a></li>
	    <li>hosting: <a href="http://mediatemple.net/">Media Temple</a></li>
    </ul>    
    </td>
    </tr>
</table>

</div>

</div>
</body>
</html>