<div id="footer">
	<p>by <a href="http://banterability.com/">Jeffrey Long</a>
	<strong>|</strong>
	updates: <a href="http://twitter.com/clipd">Twitter</a>
	<strong>|</strong>
	source: <a href="http://github.com/banterability/clip-d/">Github</a>
	<strong>|</strong>
	hosting: <a href="http://mediatemple.net/">Media Temple</a></p>
</div>

</div>
</body>
</html>