<div id="footer">
	<p>by <a href="#">Jeffrey Long</a>
	<strong>|</strong>
	updates: <a href="#">Twitter</a>
	<strong>|</strong>
	source: <a href="#">Github</a>
	<strong>|</strong>
	hosting: <a href="#">Media Temple</a></p>
</div>

</div>
</body>
</html>