<div id="footer">
		<div class="contentBox">
			<p>&copy; 2008 <a href="#">Jeffrey Long</a>
			&nbsp;|&nbsp;
			follow on <a href="#">Twitter</a>
			&nbsp;|&nbsp;
			source on <a href="#">Github</a>
			&nbsp;|&nbsp;
			hosted by <a href="#">Media Temple</a></p>
		</div>
</div>

</div>

</body>
</html>