<p>
  <b>Selection</b><br />
  <%= f.text_field :selection %>
</p>

<p>
  <b>Source URI</b><br />
  <%= f.text_field :sourceUri %>
</p>

<p>
  <b>Source Title</b><br />
  <%= f.text_field :sourceTitle %>
</p>
