<body>
	
<div id="canvas">

<div id="header">
	<div class="contentBox">
 		<div id="header-logo">
 	<%= link_to image_tag('logo.png'), :action => 'index' %>
		</div>
	<div id="header-meta">
	<p>Can you <a href="javascript:var%20q,e=encodeURIComponent;if%20(window.getSelection)%20q=window.getSelection();%20else%20if%20(document.selection)%20q=document.selection.createRange().text;if%20(q!=''){u=location.href;t=document.title;}else{q=prompt(%22Clip%20it:%22,%22%22);t='Manual%20Clip';u='none'};if%20(q)%20location.href='http://localhost:3000/clips/new?u='+e(u)+'&s='+e(q)+'&t='+e(t);">clip it</a>?</p>
	</div>
			</div>
</div>