html{
	background-color: #292929
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
#canvas {
	margin: 0px auto;
}
body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: normal;
}
#content {
	background-color: #f9f9f9;
	padding: 20px 20px 10px 20px;
}
#footer {
	padding-top: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	font-family: "Trebuchet MS";
	border-top:8px solid #000;
	text-align: center;
}
.clip-body {
	padding-bottom: 10px;
	border-bottom: 1px dashed #999;
	margin: 10px 0;
}
.clip-content {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	padding-bottom: 15px;
	line-height: 32px;
}
.quote{
	background-color: #8f0000;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #fff;
	padding: 5px;
	letter-spacing: -1px;
}
.clip-meta {
	font-size: 14px;
	color: #444;
}
.clip-info {
	float: right;
	text-align: right;
}
.clip-actions {
	float: left;
	text-align: left;
}
a {
	text-decoration: none;
	padding: 2px;
	font-weight: bold;
}
#footer-logo img {
	background-color: #292929;
}
#footer-logo img:hover{
	background-color: #292929;
}
}
.clip-info a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.clip-actions a {
	padding: 5px;
	vertical-align: top;
}
a:hover {
	font-weight: bold;
}
.clip-meta a:hover {
	color: #222;
	background-color: #c8b8b8;
}
.clip-actions a:hover {
	background-color: #c8b8b8;
}
#header a:hover, #footer a:hover {
	background-color: #111;
	color: #fff;
}
abbr {
	border-bottom: 1px inset #ccc;
	font-style: normal;
	padding: 2px;
}
abbr:hover{
	background-color: #fff4c6;
}
div#flash {
	width: 80%;
	padding: 5px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #FFFFCC;
	font-style: italic;
	border: solid 2px black;
}
#flash p {
	display: inline;
	padding-left: 20px;
}
#flash img {
	vertical-align: top;
}
#footer-links ul{
	list-style: none;
	text-align: right;
	float: right;
}
#footer-info{
	float: left;
	text-align: left;
}
#footer-logo{
	width:130px;
	float:left;
}
#footer-container{
	width:90%;
	margin:0 auto;
}