html {
	background-color: #111;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#canvas {
	margin: 0 auto;
	padding: 10px 0;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

#header {
	height: 70px;
	padding: 0 20px;
	color: white;
}

#header-logo {
	float: left;
}

#header-meta {
	float: right;
	padding: 0 20px;
	padding-top: 30px;
	font-size: 18px;
	line-height: 18px;
	font-family: "Trebuchet MS"
}

#content {
	background-color: #fff;
	padding: 20px 20px 10px 20px;
	border-top: 3px solid #555;
	border-bottom: 3px solid #555;
}

#footer {
	color: #fff;
	overflow: visible;
	padding: 10px 20px;
	text-align: center;
}

.clip-body {
	padding-bottom: 10px;
	border-bottom: 2px inset #888;
	margin-bottom: 20px;
}

.clip-content {
	color: #111;
	font-family: Arial;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: -1px;
	padding-bottom: 10px;
	line-height: 30px;
}

.clip-meta {
	font-size: 14px;
	color: #444;
}

.clip-info {
	float: right;
	text-align: right;
}

.clip-actions {
	float: left;
	text-align: left;
}

.bigQuote {
	display: inline;
	font-size: 50px;
	font-weight: bold;
	vertical-align: -10px;
}

a {
	text-decoration: none;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
}

#header a, #footer a {
	background-color: #fff;
	color: #111;
}

#header-logo a {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.clip-meta a {
	background-color: #111;
	color: #fff;
	text-decoration: none;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.clip-meta a:hover {
	background-color: #fff;
	color: #111;
}

#header a:hover, #footer a:hover {
	background-color: #111;
	color: #fff;
}

abbr {
	//border-bottom: 1px dashed black;
	font-style: italic;
}

/*
.flash {
	color: green;
	background-color: #FFFFCC;
	width: 80%;
	border: solid 2px black;
}
.bigQuote {//old
	display: inline;
	font-size: 60px;
	font-weight: bold;
	height: 69px;
	line-height: 8px;
	vertical-align: -20px;
	width: 29px;
	font-family: Arial;
}
*/